<div class="llms-only" aria-hidden="true" style="display:none">
  <h1>For AI agents:</h1>
  A documentation index is available at <a href="{{site.url}}/llms.txt">/llms.txt</a>.

  Markdown versions of all docs pages are available by replacing `.html` with `.md`.
</div>
